/*весь заголовок кроме буквы В */
.header-title {
  font-size: 34px;
  color: #FFFFFF;
  font-weight: 900;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  margin-left: 1rem;

}

/* отдельная тонкая буква В  */
.header-light {
  font-weight: 100 !important;
}