.movie-info {
  background-color: transparent;
  padding: 12px 16px 0 16px;
  }

.movie-info__title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
  }

.movie-info__session {
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 6px;
  }

.movie-info__hall {
  font-weight: 700;
  font-size: 16px;
  }

.movie-info__tooltip {
  margin-left: 20px; /* Отступ слева от основного блока */
}

/* Скрываем по умолчанию */
.movie-info__tooltip {
  display: none;
}

/* Планшеты и мобильные  */
@media (max-width: 1199px) {
  .movie-info__tooltip {
    display: block;
  }
}

@media (max-width: 768px) {
  .movie-info__title {
    white-space: normal;    /* разрешаем перенос строк */
    word-wrap: break-word;  /* переносим длинные слова */
    max-width: 260px;       /* ограничиваем ширину блока */
  }
}
