*, *::before, *::after {
  box-sizing: border-box;
}


.payment-container {
  width: 100%;
  background-color: #F1EBE6;
  opacity: 0.95;
  padding: 20px;
  border-radius: 5px;
  max-width: 990px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.payment-container h3 {
  color: #C76F00;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px dotted #C76F00;
}

.payment-container p {
 font-size: 16px;
 font-weight: 400;
 margin: 4px 0;
}

.payment-container strong {
  font-weight: 700;
}


.payment-button {
  background-color: #16A6AF;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  display: block;
  width: 100%;
  max-width: 337px;
  height: 40px;
  margin: 25px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.payment-info {
  font-size: 14px !important;
  font-weight: 200;
  color: #000000;
}
